<footer id="footer" ><!--Footer-->
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    ©2021 Marat Isaev <i>tagriverdievich@gmail.com</i> 
  </div>
  <!-- Copyright -->
</footer><!--/Footer-->
<script src="/js/webpack.bundle.js"></script>
</body>
</html>