<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Time Track</title>
  </head>
  <body>
    <div class="container header">
      <div class="row justify-content-between">
        <div class="col">
          <a href="/"><b>TimeTrack</b></a>
        </div>
        <div class="col-auto">
          <% if(user){ %>
          <a href="/projects">Projects</a>
          <a id="userMenu" href="#"><%=user.name%></a>
          <ul id="userMenuList">
            <li><a id="logout" href="/logout">Log out</a></li>
          </ul>
          <% } else{ %>
          <a href="/login">Login</a> <a href="/signup">Sign Up</a>
          <% } %>
        </div>
      </div>
      <hr />
    </div>
  </body>
</html>
