<!-- In video, this <main> element is wrongly called: <section class="overview">. So in pug template, please use main.main instead of section.overview -->

<%- include("header") -%>
<div class="container home">
  <img class="clock" src="/img/clock.png" alt="clock" width="100px"/>
  <p>
    Our service can help you manage your time properly. All you need to do
    just click start and stop buttons, for tasks you want to complete. You can
    simply add new projects, tasks or update, delete them. Also you can see
    all statistics for each project.
  </p>
</div>

<%- include("footer") -%>
