<%- include("header") -%>

<form id="signupForm" class="form-signin text-center">
  <input
    name="email"
    type="email"
    class="form-control"
    placeholder="Email address"
    required
    autofocus
  />
  <input
    name="name"
    type="text"
    class="form-control"
    placeholder="Name"
    required
  />
  <input
    name="password"
    type="password"
    class="form-control"
    placeholder="Password"
    required
  />
  <input
    name="passwordConfirm"
    type="password"
    class="form-control"
    placeholder="Password Confirm"
    required
  />
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Sign Up
  </button>
</form>

<%- include("footer") -%>
