@import "header";
@import "auth";
@import "projects";
@import "acts";
@import "statistics";
$bc: #d0d0e5;
// Прижать футер

html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: $bc;
  padding-bottom: 50px;
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
  margin-bottom: 60px; // значение высоты #footer
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f0f0e9;
}
//
.addProject {
  summary {
    color: green;
  }
}
.home {
  text-align: center;
  .clock {
    padding: 5px;
    margin-top: -50px;
  }
}
